<ion-card (click)="clicked()" class="page-info-card" [@clickEffectState]="toggle">
  <ion-card-header style="white-space:normal;" text-wrap>
    {{title}}
    <!--
    <button ion-button clear small icon-right *ngIf="!showContent">
      Click Me
    </button>
    -->
  </ion-card-header>
  <ion-card-content *ngIf="showContent" [innerHTML]="content">
  </ion-card-content>
  <ion-row *ngIf="audio" no-padding>
    <ion-col text-right>
      <button ion-button clear small color="danger" icon-right>
        <!-- the inversion may seem confusing but the visual looks better -->
        <ion-icon name="volume-up" *ngIf="!audioPlaying"></ion-icon>
        <ion-icon name="volume-mute" *ngIf="audioPlaying"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
